* {
    box-sizing: border-box;
}

body {
    background: rgb(13, 20, 20);
    font-family: 'Varela Round', sans-serif;
    color: white;
}

header {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0px;
}

header > * {
    padding: 10px;
}

header > button {
    background: mediumseagreen;
    border: none;
    border-radius: 5px;
    padding: 5px 10px7;
    margin: 20px;
}

.active {
    display: block;
}

main h2 {
    text-align: center;
}

.hidden {
    display: none;
}

.playlist-list {
    margin: 0;
    padding: 0;
}

.playlist {
    display: block;
    width: 90%;
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
}

.playlist:hover {
    box-shadow: 4px 4px 20px -2px mediumseagreen;
    cursor: pointer;
}

.accordeon-head {
    background: rgb(29, 56, 56);
    height: 50px;
    border-radius: 5px;
}

.playlist-image {
    height: 100%;
    float: left;
}

.playlist a {
    display: inline-block;
    text-align: left;
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 1.1em;
}

.pll-added-container {
    float: right;
    width: 150px;
    text-align: center;
}

.accordeon-head p {
    display: none;
}

.algo-buttons {
    display: block;
    padding: 0px;
}

.algo-buttons > li {
    display: block;
    border: 1px solid black;
    background: rgb(23, 54, 54);
    padding: 5px;
}

.algo-buttons > li:hover {
    background: rgb(39, 116, 116);
    cursor: pointer;
}

/* .playlist:target .algo-buttons {
    display: block;
} */